<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS.css">
    <script defer src="../static/JSfile.js"></script>
    <title>contect me</title>
</head>

<body>

    <div class="navbar">
        <img src="../static/logo.png" class="logo bigger">
        <nav>
            <ul>
                <li><a href="Home screen.html">Home</a></li>
                <li><a href="Contact us.html">Contact Us</a></li>
            </ul>
        </nav>
        <img src="../static/menu logo.png" class="menu bigger">
    </div>

    <div class="ContainerContact">
        <h2>Contect Us</h2>
        <p class="text">
            <span class="moreText">Please Fill in the details and we will contact you at the appropriate time
            </span>
        </p>
        <button class="readMoreButton">Click hear to read more</button>
        <form action="" method="post">
            <fieldset>
                <legend>Contact Form</legend>
                <label for="fullname">Full name:</label>
                <input type="text" id="fullname" name="fullname" required> <br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required> <br><br>
                <label for="Phone">PhonrNumbr:</label>
                <input type="tel" id="Phone" name="Phone" minlength="9" maxlength="13" required><br><br>
                <input type="time" id="timeToContact" name="timeToContact" min="07:00" max="16:00"><br><br>
                <input type="submit" value="Submit" style="background-color: blueviolet; color: cornsilk;">
            </fieldset>
        </form>
        <header>Maccabi Tel Aviv is an unending love</header>
    </div>
    </div>

</body>

</html>