<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align = "center">
    <div style="color: chocolate; padding: 22px; margin: 20px;">
        <h1>Cotact us</h1>  
    </div>
    <span style="padding: 5px; margin: 20px; "> Please leave your details and we will contact you:</span>
    <form action="URL" method="get" style="padding: 5px; margin: 20px">
        <label for="FullName">Full name:</label>
        <input type="text" id="FullName" name="FullName" autocomplete="on" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="Phone">PhonrNumbr</label>
        <input type="tel" id="Phone" name="Phone" minlength="9" maxlength="13" required><br><br>
        <label for="timeToContact">Choose a time to contact you</label>
        <input type="time" id="timeToContact" name="timeToContact" min="07:00" max="16:00" required><br><br>
        <input type="submit" value="Submit" style="background-color: blueviolet; color: cornsilk;">
        <nav>
            <ul>
                <li><a href="Home screen.html">Home screen</a></li>
            </ul>
        </nav>
        </form>
</body>
</html>