<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS.css">
    <script defer src="../static/JSfile.js"></script>
    <title>Maccabi Fans</title>
</head>
<body>

    <div class="navbar">
        <img src="../static/logo.png" class="logo bigger">
        <nav>
            <ul>
                <li><a href="Home screen.html">Home</a></li>
                <li><a href="Contact us.html">Contact Us</a></li>
            </ul>
        </nav>
        <img src="../static/menu logo.png" class="menu bigger">
    </div>

    <h1>Maccabi Fans</h1>  
    <span>
        <img src="../static/Home Screen.jpg" alt="computer picture" width="400px">
        <img src="../static/Home Screen2.jpg" alt="computer picture" width="400px">
    </span>
    
    <div class="containerHomeScreen">

        <div class="gridItem1">
            <header>Maccabi Tel Aviv is an unending love</header>
        </div>
        <div class="gridItem2">
            <h2>Welcome to the Maccabi fan page!</h2><br>
            <p class="text"> This is the official website of Maccabi Tel Aviv fans.
                <span class="moreText">On this site you will see game summaries, 
                    updates on the team and official signings of players.
                </span>
            </p>
            <button class="readMoreButton">Click hear to read more</button>
        </div>
    </div>
</body>
</html>